.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 20px 274px 0 40px;
}

.u-section-1 .u-text-2 {
  margin: 20px 40px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 114px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 838px;
}

.u-section-2 .u-text-1 {
  margin: 20px 40px 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 40px 0;
}

.u-section-2 .u-text-3 {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 40px 0;
}

.u-section-2 .u-text-5 {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 833px;
  height: 311px;
  margin: 19px auto 59px 112px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: 107px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 269px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 127px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-text-1 {
  margin: 20px 185px 0 40px;
}

.u-section-3 .u-text-2 {
  margin-left: 40px;
  margin-right: 185px;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin-left: 40px;
  margin-right: 185px;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  margin-left: 40px;
  margin-right: 185px;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 40px;
  margin-right: 185px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 25px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 25px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 25px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1376px;
}

.u-section-4 .u-text-1 {
  margin: 20px 231px 0 40px;
}

.u-section-4 .u-text-2 {
  margin: 20px 138px 0 40px;
}

.u-section-4 .u-text-3 {
  margin: 20px 138px 0 40px;
}

.u-section-4 .u-image-1 {
  width: 471px;
  height: 300px;
  margin: 14px 79px 0 auto;
}

.u-section-4 .u-text-4 {
  margin: -2px 40px 0;
}

.u-section-4 .u-text-5 {
  margin: -296px 570px 0 56px;
}

.u-section-4 .u-text-6 {
  margin: 112px 40px 0;
}

.u-section-4 .u-image-2 {
  width: 475px;
  height: 300px;
  margin: 21px 56px 0 auto;
}

.u-section-4 .u-text-7 {
  margin: -252px 551px 0 40px;
}

.u-section-4 .u-text-8 {
  margin: 30px 40px 0;
}

.u-section-4 .u-text-9 {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0;
}

.u-section-4 .u-image-3 {
  width: 485px;
  height: 300px;
  margin: 4px 40px 0 615px;
}

.u-section-4 .u-text-10 {
  margin: -228px 551px 60px 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 71px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 426px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 391px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    margin-right: 0;
    margin-left: 455px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 391px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 206px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 171px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 235px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 171px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-right: 69px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 26px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    margin-left: 55px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 217px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 81px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 215px;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: -167px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 210px;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-top: -138px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 651px;
}

.u-section-5 .u-text-1 {
  margin: 6px 764px 0 40px;
}

.u-section-5 .u-text-2 {
  margin: 20px 40px 0;
}

.u-section-5 .u-image-1 {
  width: 489px;
  height: 300px;
  margin: 3px 40px 0 611px;
}

.u-section-5 .u-text-3 {
  margin: -235px 570px 60px 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 604px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-right: 0;
    margin-left: 451px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 410px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 384px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 231px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 204px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 51px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 4px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 209px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: -144px;
    margin-right: 0;
  }
}